
[submodule "thirdparty/libflatarray"]
	path = thirdparty/libflatarray
	url = https://github.com/gentryx/libflatarray
[submodule "thirdparty/Fastor"]
	path = thirdparty/Fastor
	url = https://github.com/romeric/Fastor
